@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1em 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 0 5px black;
}

main {
  margin: 0 10%;
  padding: 1em 1em;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 10px black;
}

footer {
  padding: 1em 12%;
  background-color: black;
  color: white;
  box-shadow: 0 0 5px black;
}

/* ESTILO DO CONTEÚDO DO HEADER */
.caixa_link_header{
  display: flex;
  gap: 1em;
  }

.space {
  font-size: 2em;
  color: green;
}

.link_header {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.titulo_projeto {
  color: white;
  font-size: 2em;
}

.id_projeto {
  color: green;
}

.extrato-img {
  width: 50px;
  height: 50px;
}

.caixa-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caixa-total-dinheiro {
  text-align: center;
  display: flex;
  align-items: center;
}

.caixa-extrato {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}


/* ESTILIZAÇÃO DO CONTEÚDO DA TABELA */
table {
  font-family: "Merriweather", serif;
}

.extrato-titulo {
  padding: 1em;
  border-bottom: 1px solid black;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
}

.extrato-nome {
  text-align: left;
}

.extrato-valor {
  text-align: right;
}

.extrato-botao {
  background-color: white;
  border: none;
}

.extrato-botao-img {
  width: 25px;
  height: 25spx;
  padding: 0 5px;
}

.footer-msg {
  font-family: "Merriweather", serif;
  text-align: center;
}

/* ESTILIZAÇÃO DOS CARTÕES DE CRÉDITOS */
.display_cc {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.botao_cc {
  text-decoration: none;
  color: black;
}

.caixa_cc {
  background-color: #CCD3CA;
  width: 19em;
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.caixa_info_cc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.bandeira_cc {
  font-family: "Merriweather", serif;
}

.lastd_cc {
  font-family: "Kode Mono", monospace;
  font-size: 1.5em;
}

.caixa_limite_cc {
  text-align: right;
}

.caixa_dados_cc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Kode Mono", monospace;
}

.tipo_limite_cc {
  font-size: 0.6em;
}