{% extends "template.html" %}
{% block conteudo %}
<header>
    <div class="titulo_projeto">
        <p>Project<strong class="id_projeto">B</strong></p>
    </div>
    <div class="caixa_link_header">
        <div><a class="link_header" href="{{ url_for('login') }}">Entrar</a></div>
        <p class="space"><strong> | </strong></p>
        <div><a class="link_header" href="{{ url_for('novo_usuario') }}">Cadastrar</a></div>
    </div>
</header>
<main>
    <h1>{{ nome_pagina }}</h1>
</main>
{% endblock %}