{% extends "template.html" %}
{% block conteudo %}
<h1>ProjetoB</h1>
<form action="{{ url_for('editar_item', id=item.id) }}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="{{ item.nome }}" required>
    
    <label for="dia">Data:</label>
    <input type="date" name="dia" value="{{ item.dia }}" required>
    
    <label for="valor">Valor:</label>
    <input type="text" name="valor" value="{{ item.valor }}" required>
    
    <button type="submit">Salvar</button>
</form>
{% endblock %}