{% extends "template.html" %}
{% block conteudo %}
<header>
    <div class="titulo_projeto">
        <p>Project<strong class="id_projeto">B</strong></p>
    </div>
    <div>
        <div><a class="link_header" href="{{ url_for('deslogar') }}">Sair</a></div>
    </div>
</header>
<main>
    <div class="caixa-menu">
        <div>
            <a href="{{ url_for('novo_item') }}"><img class="extrato-img" src="../static/svg/add-row-svgrepo-com.svg"></a>
        </div>
        <div>
            <a href="{{ url_for('cc') }}"><img class="extrato-img" src="../static/svg/credit-card-svgrepo-com.svg"></a>
        </div>
        <div class="caixa-total-dinheiro">
            <img class="extrato-img" src="../static/svg/data-svgrepo-com.svg">
            <p>{{ total_valores }}</p>
        </div>
    </div>
    <div class="caixa-extrato">    
        <table>
            <tr>
                <th class="extrato-titulo">Tipo de Transação</th>
                <th class="extrato-titulo">Data da Transação</th>
                <th class="extrato-titulo">Valor da Transação</th>
            </tr>
            {% for item in carteira %}
            <tr>
                <th class="extrato-nome">{{item.tipo}}</th>
                <td>{{item.data_formatada}}</td>
                <td class="extrato-valor">{{item.valor}}</td>
                <td>
                    <form action="{{ url_for('editar_item', id=item.iditem) }}" method="get">
                        <button class="extrato-botao" type="submit"><img class="extrato-botao-img" src="../static/svg/edit-pencil-line-01-svgrepo-com.svg"></button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('excluir_item', id=item.iditem) }}" method="post">
                        <button class="extrato-botao" type="submit"><img class="extrato-botao-img" src="../static/svg/close-circle-svgrepo-com.svg"></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}