{% extends "template.html" %}
{% block conteudo %}
<header>
    <div class="titulo_projeto">
        <p>Project<strong class="id_projeto">B</strong></p>
    </div>
    <div class="caixa_link_header">
        <div><a class="link_header" href="{{ url_for('deslogar') }}">Sair</a></div>
    </div>
</header>
<main>
    <h1>ProjetoB</h1>
    <form action="{{ url_for('novo_item') }}" method="post">
        <fieldset>
            <div class="form-group">
                <label for="tipo">Tipo de Transação</label>
                <input type="text" id="tipo" name="tipo" class="form-control">
            </div>
            <div class="form-group">
                <label for="dia">Data da Transação</label>
                <input type="date" id="dia" name="dia" class="form-control">
            </div>
            <div class="form-group">
                <label for="valor">Valor da Transação</label>
                <input type="decimal" id="valor" name="valor" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
    </form>
</main>
{% endblock %}