<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/app.css"> 
        <title>ProjetoB</title>
    </head>
    <body>
        <header>
            <div class="titulo_projeto">
                <p>Project<strong>B</strong></p>
            </div>
            <div class="nome-pagina">
                <p>{{ nome_pagina }}</p>
            </div>
        </header>
        <main>
            {% block conteudo %}{% endblock %}
        </main>
        <footer>
            <p class="footer-msg">Desenvolvido por freddygmf©.</p>
        </footer>
    </body>
</html>